.container {
  padding-bottom: 30px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 215px;
  padding-right: 215px;
  /* outline: 1px solid red; */
}
.container-1 {
  /* outline: 1px solid green; */
  justify-content: space-between;
  display: inline-flex;
  margin-left: 93px;
  margin-top: 32px;
  width: 281px;
  height: 16px;
}
.container-2 {
  display: inline-flex;
  padding-left: 300px;
}
.header-contackt-list {
  display: flex;
}
.container-5 {
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  margin-top: 30px;
}
.container-4 {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.container-main {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container-features {
  width: 1170px;
  display: flex;
  justify-content: space-around;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 215px;
  padding-right: 215px;
  /* outline: 1px solid red; */
}
.container-services {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 215px;
  padding-right: 215px;
  /* outline: 1px solid red; */
}
.container-team {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
  /* outline: 1px solid red; */
}
.container-team-person {
  outline: 1px solid blue;
  width: 270px;
  height: 368px;
}
.container-team-person-1 {
  display: flex;
  justify-content: space-between;
}
.container-team-work {
  margin-bottom: 50px;
  text-align: center;
  padding-top: 188px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  width: 55px;
  height: 30px;
  display: inline-block;
  margin-top: 25px;
  color: #2196f3;
}
.logo-studio {
  width: 88px;
  height: 30px;
  display: inline-block;
  color: black;
}
.nav-list {
  display: flex;
}
.nav-list-item {
  list-style-type: none;
  font-family: "Roboto";
  padding-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.container-3 {
  outline: 1px solid purple;
}
.contackt-link-mail {
  padding-right: 50px;
  font-family: "Roboto";
  width: 135px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.contackt-link-tel {
  font-family: "Roboto";
  /* outline: 1px solid gold; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.hero-title {
  width: 696px;
  height: 120px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero {
  background-color: #2f303a;
}
.hero-button {
  width: 216px;
  height: 50px;
  font-family: "Roboto";
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button {
  background-color: #2196f3;
}
.features-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}
.features-name-desc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 72px;
}
.container-services-title {
  display: flex;
  justify-content: space-around;
}
.servces-list {
  /* width: 370px;
  height: 294; */
  display: flex;
  justify-content: space-between;
}
.servces-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
/* .team-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #212121;
} */
.team-name-position {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
.container-footer {
  width: 231px;
  height: 81px;
  margin-top: 20px;
}
.footer-logo-studio {
  color: #2196f3;
}
.footer-logo-studio {
  color: white;
}
.footer {
  background-color: #2f303a;
}
.address-name {
  padding-bottom: 9px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.addres-contacts {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.container-mail {
  padding-bottom: 9px;
}
