.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 215px;
  padding-right: 215px;
  outline: 1px solid red;
}
.container-1 {
  outline: 1px solid green;
  justify-content: space-between;
  display: inline-flex;
  margin-left: 93px;
  margin-top: 32px;
  width: 281px;
  height: 16px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  width: 55px;
  height: 30px;
  display: inline-block;
  margin-top: 25px;
  color: #2196f3;
}
.logo-studio {
  width: 88px;
  height: 30px;
  display: inline-block;
  color: black;
}
.nav-list {
  display: flex;
}
.nav-list-item {
  list-style-type: none;
  font-family: "Roboto";
  padding-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.container-3 {
  outline: 1px solid purple;
}
.container-4 {
  outline: 1px solid blue;
}
.contackt-link-mail {
  font-family: "Roboto";
  width: 135px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.contackt-link-tel {
  font-family: "Roboto";
  outline: 1px solid gold;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.hero-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero {
  background-color: #2f303a;
}
.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button {
  background-color: #2196f3;
}
.features-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}
.features-name-desc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.servces-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-name-position {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-logo-studio {
  color: #2196f3;
}
.footer-logo-studio {
  color: white;
}
.footer {
  background-color: #2f303a;
}
.address-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.addres-contacts {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
